<div class="container w-75 rounded shadow mt-5">
    <div class="row align-items-stretch">
      <div class="col col-md-5 col-lg-6 bg d-none d-md-block p-5"></div>
      <div class="col col-md-7 col-lg-6 bg-white p-5">
        <h2 class="fw-bold text-center py-3">Regístrate</h2>
        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="mb-4">
            <label for="txt_correo" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="txt_correo" formControlName="correo" required>
            <div *ngIf="registroForm.get('correo')?.invalid && registroForm.get('correo')?.touched" class="text-danger">
              <small *ngIf="registroForm.get('correo')?.errors?.['required']">El correo es obligatorio.</small>
              <small *ngIf="registroForm.get('correo')?.errors?.['email']">Ingrese un correo válido.</small>
            </div>
          </div>
          <div class="mb-4">
            <label for="txt_clave" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="txt_clave" formControlName="clave" required>
            <div *ngIf="registroForm.get('clave')?.invalid && registroForm.get('clave')?.touched" class="text-danger">
              <small *ngIf="registroForm.get('clave')?.errors?.['required']">La contraseña es obligatoria.</small>
            </div>
          </div>
          <div class="mb-4">
            <label for="txt_repetir_clave" class="form-label">Repita Contraseña</label>
            <input type="password" class="form-control" id="txt_repetir_clave" formControlName="repetir_clave" required>
            <div *ngIf="registroForm.errors?.['passwordsMismatch'] && registroForm.get('repetir_clave')?.touched" class="text-danger">
              <small>Las contraseñas no coinciden.</small>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Registrarse</button>
          <div class="my-3">
            <span>¿Tienes una cuenta? Inicia Sesión <a class="text-primary" routerLink="/login" (click)="irLogin()">Aquí</a></span>
          </div>
          <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
        </form>
      </div>
    </div>
  </div>
  